@import url(https://use.fontawesome.com/releases/v5.7.2/css/all.css);

table, th, td {
  border-collapse: collapse;
  border: 2px solid; text-align: center;
}

well {
  padding: 10px;
}

.tab_title {
  color: #3F3F3F;
}

.type_container {
  grid-area: type;
  color: #3F3F3F; font-size: 12px; padding: 10px;
  display: flex; justify-content: center; align-items: center;}

.dist_container {
  grid-area: dist;
  color: #3F3F3F;
  font-size: 12px; padding: 10px;
  display: flex; justify-content: center; align-items: center;}

.time_container {
  grid-area: time;
  color: #3F3F3F;
  font-size: 12px; padding: 10px;
  display: flex; justify-content: center; align-items: center;}

.img_container {
  grid-area: "icon";
  font-size: 48px; max-height: 40px;
  display: flex; justify-content: center; align-items: center;}

.activity_overview_container {
  grid-area: activity_overview;
}

.profile_container {
  display: grid;
  grid-template-areas:
    'profile_pic activity_overview activity_overview'
    'profile_pic activity_overview activity_overview';
}

.circle {
  grid-area: name_holder;
  width: 100px;
  height: 100px;
  line-height: 100px;
  border-radius: 50%;
  font-size: 50px;
  border-style: solid;
  border-width: 2px;
  color: #3F3F3F;
  text-align: center;
}

.week_dist_container {
  grid-area: week_dist;
}

.month_dist_container {
  grid-area: month_dist;
}

.team_container {
  display: grid;
  gap: 10px;
  grid-template-areas:
    'name_holder week_dist'
    'name_holder month_dist';
}

/* Team Overview Pannel*/
.data_container {
  background-color: #ecf1f4;
  padding: 10px;
  border-radius: 10px;
}

.team_table {
  border: none; width: 100%;
  border-collapse: separate; border-spacing: 20px;
  padding: .5em;

}

.team_data {
  background-color: white; width: 50px; border-radius: 5px;
  padding: .5em; border: 2px solid;
}

.grid_title {
  grid-area: "title";
  font-size: 24px; font-weight: bold;
}

.grid_item {
  display: flex; justify-content: center; align-items: center;
}
